* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

img {
    width: 300px;
    filter: contrast(2) blur(2px) brightness(0.5);
}

img:hover {
    animation-name: imge;
    animation-duration: 3s;
}

@keyframes imge {
    0% {transform:translate(0px, 0px);}
    25% {transform: translate(100px, 0px);}
}

main, header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
    background-color: blanchedalmond;
}

main ul {
    background-color: white;
    border: solid 1px;
    margin-bottom: 30px; 
    display: flex;
}

main ul li {
    margin-right: 20px;
}

main ol {
    background-color: white;
    border: solid 1px;
    margin-bottom: 30px;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
}

.ing {
    margin-top: 30px;
    text-align: left;
}
